<div class="countdown-component theme-default component-base" data-mgm-component="countdown" ng-cloak>
  <h2 class="icon-slot-showcase-hdr hdr"><span><span>Countdown</span></span></h2>
  <h4 class="countdown-event-date"><!-- Calculated Event String populates here --></h4>
  <div class="countdown-timer">
    <div class="grid">
      <div class="grid-item width-1-3 days-left">
          <h4><!-- Calculated Days populate here --></h4>
            <h6>Days</h6>
        </div>
        <div class="grid-item width-1-3 hours-left">
          <h4><!-- Calculated Hours populate here --></h4>
            <h6>Hours</h6>
        </div>
        <div class="grid-item width-1-3 minutes-left">
          <h4><!-- Calculated Minutes populate here --></h4>
            <h6>Minutes</h6>
        </div>
    </div>
  </div>
</div>