{
  "env": {
    "amd": 1,
    "node": 1,
    "browser": 1
  },
  "extends": "eslint:recommended",
  "globals": {
    //place settings for globals here, such as
    // "define": false
  },
  "plugins": [],
  // https://github.com/activatedgeek/eslintrc/blob/master/.eslintrc
  "rules": {
    "no-console": 1,
    "no-unused-expressions": [
      2,
      {
        "allowTernary": true,
        "allowShortCircuit": true
      }
    ],
    "no-unused-vars": [
      2,
      {
        "vars": "local",
        "args": "none"
      }
    ]
  }
}